<div class="panel">
	<div class="leftPanel">

		<h3>
			{{#if model.deck.deckgroup}}
				{{#if isEditing}}
					<select onchange={{action "setDeckgroup" value="target.value"}}>
						{{#each model.deckgroups as |deckgroup|}}
							<option value={{deckgroup.id}} selected={{eq model.deck.deckgroup.id deckgroup.id}}>{{deckgroup.name}} ({{deckgroup.cardset.name_fr}})</option>
						{{/each}}
					</select>
				{{else}}
					{{model.deck.deckgroup.name}}
					({{model.deck.deckgroup.cardset.name_fr}})
				{{/if}}
			{{else}}
				{{#if isEditing}}
					Deck de <select onchange={{action "setUser" value="target.value"}}>
						{{#each model.users as |user|}}
							<option value={{user.id}} selected={{eq model.deck.user.id user.id}}>{{user.name}}</option>
						{{/each}}
					</select>
				{{else}}
					Deck de {{model.deck.user.name}}
				{{/if}}
			{{/if}}
		</h3>

		<h2>
			{{#if isEditing}}
				{{model.deck.cardclass.name_fr}} {{input value=model.deck.name}}
				<br/>
				<i class="fas fa-external-link-alt"></i> {{input value=model.deck.url}}
			{{else}}
				{{model.deck.cardclass.name_fr}}
				{{model.deck.name}}
				{{#if model.deck.url}}
					<a href={{model.deck.url}} target="_blank">
						<i class="fas fa-external-link-alt"></i>
					</a>
				{{/if}}
			{{/if}}
			<br/>
			{{#if isEditing}}
				<i class="fas fa-save pointer" title="Enregistrer" {{action "save"}}></i>
			{{else}}
				<i class="fas fa-edit pointer" title="Modifier" {{action "edit"}}></i>
			{{/if}}
			<i class="fas fa-clone pointer" title="Dupliquer" {{action "clone"}}></i>
			<i class="fas fa-trash pointer" title="Supprimer" {{action "delete"}}></i>
			{{#with (filter (action "filterOwned") model.deck.wanteddecks) as |wanteddecks|}}
				<i class="fas fa-heart pointer" style="color: red;" {{action "removeWanteddeck" wanteddecks.firstObject}}></i>
			{{else}}
				<i class="fas fa-heart faded pointer" style="color: red;" {{action "addWanteddeck" model.deck}}></i>
			{{/with}}
			<i class="fas fa-file-export pointer" title="Exporter" {{action "showDeckstring"}}></i>
			{{#if showDeckstring}}
				{{model.deck.deckstring}}
			{{/if}}
			<br/>
			{{#with (filter (action "filterOwned") model.deck.deckstats) as |deckstats|}}
				Non classé :
				{{deckstats.firstObject.wincasual}} <span class="pointer" {{action 'addWinCasual'}}>victoire{{if (gt deckstats.firstObject.wincasual 1) "s"}}</span>,
				{{deckstats.firstObject.loosecasual}} <span class="pointer" {{action 'addLooseCasual'}}>défaite{{if (gt deckstats.firstObject.loosecasual 1) "s"}}</span>
				{{#if (gt (add deckstats.firstObject.wincasual deckstats.firstObject.loosecasual) 0)}}
					: {{round (div (mult 100 deckstats.firstObject.wincasual) (add deckstats.firstObject.wincasual deckstats.firstObject.loosecasual))}} %
				{{/if}}
				<br/>
				Classé :
				{{deckstats.firstObject.win}} <span class="pointer" {{action 'addWin'}}>victoire{{if (gt deckstats.firstObject.win 1) "s"}}</span>,
				{{deckstats.firstObject.loose}} <span class="pointer" {{action 'addLoose'}}>défaite{{if (gt deckstats.firstObject.loose 1) "s"}}</span>
				{{#if (gt (add deckstats.firstObject.win deckstats.firstObject.loose) 0)}}
					: {{round (div (mult 100 deckstats.firstObject.win) (add deckstats.firstObject.win deckstats.firstObject.loose))}} %
				{{/if}}
				<i class="fas fa-redo pointer" {{action 'resetWinrate' pitycounter}} title={{"Effacer les victoires et les défaites"}}></i>
			{{else}}
				Non classé : 0 <span class="pointer" {{action 'addWinCasual'}}>victoire</span>, 0 <span class="pointer" {{action 'addLooseCasual'}}>défaite</span>
				<br/>
				Classé : 0 <span class="pointer" {{action 'addWin'}}>victoire</span>, 0 <span class="pointer" {{action 'addLoose'}}>défaite</span>
			{{/with}}
		</h2>

		{{#if latestDeckstat}}
			{{latestDeckstat}}
			<br/>
		{{/if}}
		{{#if isEditing}}
			{{textarea value=model.deck.comment cols=80 rows=6}}
		{{else}}
			{{#if model.deck.comment}}
				<pre>{{model.deck.comment}}</pre>
			{{/if}}
		{{/if}}

		<br/>

		<table class="decks">
			<tr>
				<td class="noborder" colspan="2">
					{{owned}}/{{model.deck.size}}
					({{dust}}/{{model.deck.dust}})
					{{#with (sub model.deck.dust dust) as |missing|}}
						<span class={{if (gt missing 0) "missing"}}>
							{{missing}}
						</span>
					{{/with}}
				</td>
				<th>Type</th>
				<th>Coût</th>
				<th>Attaque</th>
				<th>Défense</th>
			</tr>
			{{#each model.deck.sortedDeckcards as |deckcard|}}
				{{#with deckcard.card as |card|}}
					{{#with (filter (action "filterOwned") card.collections) as |collections|}}
						<tr>
							<td class={{if (gte collections.firstObject.number deckcard.number) 'owned' (concat 'cardset-' (if (eq card.cardset.id latest) 'current' card.cardset.class))}}>
								{{min collections.firstObject.number deckcard.number}}/{{deckcard.number}}
							</td>
							<td class={{concat "deckcard cardset-" (if (eq card.cardset.id latest) 'current' card.cardset.class)}}>
								<span class={{concat 'rarity-' card.rarity.name_fr (if (lt card.cardclass.id 12) ' cardclass')}}>{{card.name_fr}}</span>
								<div class="cardinfo">
									<img src={{card.image}} />
									<div class="cardset">{{card.cardset.name_fr}}</div>
								</div>
							</td>
							<td>{{card.type.name_fr}}</td>
							<td class="stat">{{card.cost}}</td>
							<td class="stat">{{card.atk}}</td>
							<td class="stat">{{card.health}}</td>
							{{#if isEditing}}
								<td>
									<i class="fas fa-trash pointer" title="Supprimer" {{action "removeDeckcard" deckcard}}></i>
									{{#unless (eq card.rarity.name_fr "Légendaire")}}
										{{#if (eq deckcard.number 1)}}
											<i class="fas fa-plus pointer" title="+1" {{action "incNumber" deckcard}}></i>
										{{else}}
											<i class="fas fa-minus pointer" title="-1" {{action "decNumber" deckcard}}></i>
										{{/if}}
									{{/unless}}
								</td>
							{{/if}}
						</tr>
					{{else}}
						<tr>
							<td class={{concat 'cardset-' (if (eq card.cardset.id latest) 'current' card.cardset.class)}}>
								0/{{deckcard.number}}
							</td>
							<td class={{concat "deckcard cardset-" (if (eq card.cardset.id latest) 'current' card.cardset.class)}}>
								<span class={{concat 'rarity-' card.rarity.name_fr (if (lt card.cardclass.id 12) ' cardclass')}}>{{card.name_fr}}</span>
								<div class="cardinfo">
									<img src={{card.image}} />
									<div class="cardset">{{card.cardset.name_fr}}</div>
								</div>
							</td>
							<td>{{card.type.name_fr}}</td>
							<td class="stat">{{card.cost}}</td>
							<td class="stat">{{card.atk}}</td>
							<td class="stat">{{card.health}}</td>
							{{#if isEditing}}
							<td>
								<i class="fas fa-trash pointer" title="Supprimer" {{action "removeDeckcard" deckcard}}></i>
								{{#unless (eq card.rarity.name_fr "Légendaire")}}
									{{#if (eq deckcard.number 1)}}
										<i class="fas fa-plus pointer" title="+1" {{action "incNumber" deckcard}}></i>
									{{else}}
										<i class="fas fa-minus pointer" title="-1" {{action "decNumber" deckcard}}></i>
									{{/if}}
								{{/unless}}
							</td>
							{{/if}}
						</tr>
					{{/with}}
				{{/with}}
			{{/each}}
		</table>
	</div>

	<div class="pickCards">
		{{#if isEditing}}
			{{#each (array '0' '1' '2' '3' '4' '5' '6' '7' '8' '9' '10') as |mana|}}
				<img src={{concat "/assets/mana_" mana ".png"}} alt={{mana}}
					class={{concat "filter pointer" (if (and cost (not-eq cost mana)) " faded")}}
					{{action 'toggleParam' 'cost' mana}}
				/>
			{{/each}}
			{{#each model.rarities as |cardrarity|}}
				{{#if (not-eq cardrarity.id '2')}}
					<img src={{cardrarity.image}} title={{cardrarity.name_fr}} alt={{cardrarity.name_fr}}
						class={{concat "pointer" (if (and rarity (not-eq rarity cardrarity.id)) " faded")}}
						{{action 'toggleParam' 'rarity' cardrarity.id}}
					/>
				{{/if}}
			{{/each}}
			{{#with cards.meta.pagination.first.number as |pageNumber|}}
				<i class="fas fa-angle-double-left fa-2x pointer" title={{pageNumber}} alt={{pageNumber}} {{action 'toggleParam' 'page' pageNumber}}></i>
			{{/with}}
			{{#with cards.meta.pagination.prev.number as |pageNumber|}}
				<i class="fas fa-angle-left fa-2x pointer" title={{pageNumber}} alt={{pageNumber}} {{action 'toggleParam' 'page' pageNumber}}></i>
			{{/with}}
			<span>
				{{page}} / {{cards.meta.pagination.last.number}}
			</span>
			{{#with cards.meta.pagination.next.number as |pageNumber|}}
				<i class="fas fa-angle-right fa-2x pointer" title={{pageNumber}} alt={{pageNumber}} {{action 'toggleParam' 'page' pageNumber}}></i>
			{{/with}}
			{{#with cards.meta.pagination.last.number as |pageNumber|}}
				<i class="fas fa-angle-double-right fa-2x pointer" title={{pageNumber}} alt={{pageNumber}} {{action 'toggleParam' 'page' pageNumber}}></i>
			{{/with}}
			<br/>
			{{#each cards as |card|}}
				<img src={{card.image}} class="card pointer" title={{card.cardset.name_fr}} {{action 'addDeckcard' card}} />
			{{/each}}
		{{/if}}
	</div>
</div>

<br class="clear"/>

<h3>Répartition</h3>

<table style="float: left; margin-right: 20px;">
	{{#each-in deckTypes as |id type|}}
		<tr>
			<td>{{type.name}}</td>
			<td>{{type.number}}</td>
		</tr>
	{{/each-in}}
</table>

<table style="float: left; margin-right: 20px;">
	{{#each-in deckRarities as |id rarity|}}
		<tr>
			<td class="rarity-{{rarity.name}}">{{rarity.name}}</td>
			<td>{{rarity.number}}</td>
		</tr>
	{{/each-in}}
</table>

<table>
	{{#each-in deckCardsets as |id cardset|}}
		<tr class={{concat "decks hover-" cardset.id}}>
			<td class={{concat "cardset-" cardset.class}}>{{cardset.name}}</td>
			<td>{{cardset.number}}</td>
		</tr>
	{{/each-in}}
</table>

<h3>Légende</h3>
<table>
	<tr class="decks">
		<td class='rarity-Gratuite'>Gratuite</td>
		<td class='rarity-Commune'>Commune</td>
		<td class='rarity-Rare'>Rare</td>
		<td class='rarity-Epique'>Epique</td>
		<td class='rarity-Légendaire'>Légendaire</td>
	</tr>
</table>
<table>
	<tr class="decks">
		<td class='cardclass'>Carte de classe</td>
		<td>Carte neutre</td>
	</tr>
</table>
<table>
	<tr class="decks">
		<td class='owned'>Possédée</td>
		<td class='cardset-Classique'>A obtenir du set Classique</td>
		<td class='cardset-current'>A obtenir de l'extension courante</td>
		<td class='cardset-year'>A obtenir d'une extension de l'année en cours</td>
		<td>A obtenir d'une extension des années précédentes</td>
	</tr>
</table>

<select onchange={{action 'compare' value="target.value"}}>
	<option>Comparer avec...</option>
	{{#each compareDecks as |deck|}}
		<option value={{deck.id}}>{{deck.fullname}}</option>
	{{/each}}
</select>