<div class="extrafilters">
	<img src={{concat "/assets/" (if standard "standard" "wild") ".png"}} class="format pointer" {{action 'toggleFormat'}} />
	<br/>
	<i class="fas fa-square pointer fa-2x {{if (and own (not-eq own 'owned')) "faded"}}"
		title="Possédées" {{action 'toggleParam' 'own' 'owned'}}
	/>
	<i class="fas fa-square pointer fa-2x {{if (and own (not-eq own 'golden')) "faded"}}" style="color: darkgoldenrod;"
		title="Dorées" {{action 'toggleParam' 'own' 'golden'}}
	/>
	<span class="fa-stack fa-1x pointer {{if (and own (not-eq own 'missing')) "faded"}}"
		title="Manquantes" {{action 'toggleParam' 'own' 'missing'}}>
		<i class="fas fa-square fa-stack-2x"></i>
		<i class="fas fa-times fa-stack-2x" style="color: darkred;"></i>
	</span>
	<i class="fas fa-heart pointer fa-2x {{if (and own (not-eq own 'wanted')) "faded"}}"
		title="Recherchées" {{action 'toggleParam' 'own' 'wanted'}}
	/>
	<i class="fas fa-flask pointer fa-2x {{if (and own (not-eq own 'extra')) "faded"}}"
		title="Surnuméraires" {{action 'toggleParam' 'own' 'extra'}}
	/>
</div>

<div>
	{{#each model.cardclasses as |cardclass|}}
		<img src={{cardclass.image}} title={{cardclass.name_fr}} alt={{cardclass.name_fr}} width="64px"
			class={{concat "pointer" (if (and class (not (contains cardclass.id (w wclass)))) " faded")}}
			{{action 'toggleParam' 'class' cardclass.id}}
		/>
	{{/each}}
</div>

<div>
	{{#each (array '0' '1' '2' '3' '4' '5' '6' '7' '8' '9' '10') as |mana|}}
		<img src={{concat "/assets/mana_" mana ".png"}} alt={{mana}}
			class={{concat "pointer" (if (and cost (not-eq cost mana)) " faded")}}
			{{action 'toggleParam' 'cost' mana}}
		/>
	{{/each}}
</div>

<div>
	{{#each model.rarities as |cardrarity|}}
		{{#if (not-eq cardrarity.id '2')}}
			<img src={{cardrarity.image}} title={{cardrarity.name_fr}} alt={{cardrarity.name_fr}}
				class={{concat "pointer" (if (and rarity (not-eq rarity cardrarity.id)) " faded")}}
				{{action 'toggleParam' 'rarity' cardrarity.id}}
			/>
		{{/if}}
	{{/each}}
</div>

<div>
	{{#each model.cardsets as |set|}}
		{{#if (or (not standard) set.standard)}}
			<img src={{set.image}} title={{set.name_fr}} alt={{set.name_fr}} height="50px"
				class={{concat "pointer" (if (and cardset (not-eq cardset set.id)) " faded")}}
				{{action 'toggleParam' 'cardset' set.id}}
			/>
		{{/if}}
	{{/each}}
</div>

<hr>

{{#each model.cards as |card|}}
	{{#with (filter (action "filterOwned") card.collections) as |collection|}}
		<div class="card">
			<div class="image">
				<img src={{card.image}} class="pointer" title={{card.cardset.name_fr}} {{action 'addToCollection' card}} />
			</div>
			<div class="number">
				{{#if (and (not-eq card.rarity.name_fr "Légendaire") (lt collection.firstObject.number 2))}}
					<div class="wanted pointer" {{action 'cycleWanted' card}}>
						{{#with (filter (action "filterOwned") card.wantedcards) as |wantedcards|}}
							<span>
								{{reduce_number (action "sumWanted") 0 wantedcards}}
								{{#if (eq (reduce_number (action "maxWanted") 0 wantedcards) 1)}}
									<i class="far fa-heart"></i>
								{{else}}
									<i class="fas fa-heart"></i>
								{{/if}}
							</span>
							<ul class="wanteddecks">
								{{#each wantedcards as |wantedcard|}}
									<li>
										{{wantedcard.number}} <i class="fas fa-heart"></i> {{wantedcard.fulldeck}}
									</li>
								{{/each}}
							</ul>
						{{else}}
							<span class="notwanted"><i class="fas fa-heart"></i></span>
						{{/with}}
					</div>
				{{/if}}
				<div class="normal">
					{{#if (gt collection.firstObject.number collection.firstObject.golden)}}
						<i class="fas fa-minus-circle pointer" {{action 'removeFromCollection' card}}></i>
						{{sub collection.firstObject.number collection.firstObject.golden}}
					{{/if}}
					<i class="fas fa-plus-circle pointer" {{action 'addToCollection' card}}></i>
				</div>
				<div class="golden">
					{{#if (gt collection.firstObject.golden 0)}}
						<i class="fas fa-minus-circle pointer" {{action 'removeFromCollection' card true}}></i>
						{{collection.firstObject.golden}}
					{{/if}}
					<i class="fas fa-plus-circle pointer" {{action 'addToCollection' card true}}></i>
				</div>
			</div>
		</div>
	{{else}}
		<div class="card">
			<div class="image faded">
				<img src={{card.image}} class="pointer" title={{card.cardset.name_fr}} {{action 'addToCollection' card}} />
			</div>
			<div class="number">
				<div class="wanted pointer" {{action 'cycleWanted' card}}>
					{{#with (filter (action "filterOwned") card.wantedcards) as |wantedcards|}}
						<span>
							{{reduce_number (action "sumWanted") 0 wantedcards}}
							{{#if (eq (reduce_number (action "maxWanted") 0 wantedcards) 1)}}
								<i class="far fa-heart"></i>
							{{else}}
								<i class="fas fa-heart"></i>
							{{/if}}
						</span>
						<ul class="wanteddecks">
							{{#each wantedcards as |wantedcard|}}
								<li>
									{{wantedcard.number}} <i class="fas fa-heart"></i> {{wantedcard.fulldeck}}
								</li>
							{{/each}}
						</ul>
					{{else}}
						<span class="notwanted"><i class="fas fa-heart"></i></span>
					{{/with}}
				</div>
				<div class="normal">
					<i class="fas fa-plus-circle pointer" {{action 'addToCollection' card}}></i>
				</div>
				<div class="golden">
					<i class="fas fa-plus-circle pointer" {{action 'addToCollection' card true}}></i>
				</div>
			</div>
		</div>
	{{/with}}
{{/each}}

<div class="pagination">
	<div class="inner">
		{{#with model.cards.meta.pagination.first.number as |pageNumber|}}
			<i class="fas fa-angle-double-left fa-2x pointer" title={{pageNumber}} alt={{pageNumber}} {{action 'toggleParam' 'page' pageNumber}}></i>
		{{/with}}
		{{#with model.cards.meta.pagination.prev.number as |pageNumber|}}
			<i class="fas fa-angle-left fa-2x pointer" title={{pageNumber}} alt={{pageNumber}} {{action 'toggleParam' 'page' pageNumber}}></i>
		{{/with}}
		<span>
			{{page}} / {{model.cards.meta.pagination.last.number}}
		</span>
		{{#with model.cards.meta.pagination.next.number as |pageNumber|}}
			<i class="fas fa-angle-right fa-2x pointer" title={{pageNumber}} alt={{pageNumber}} {{action 'toggleParam' 'page' pageNumber}}></i>
		{{/with}}
		{{#with model.cards.meta.pagination.last.number as |pageNumber|}}
			<i class="fas fa-angle-double-right fa-2x pointer" title={{pageNumber}} alt={{pageNumber}} {{action 'toggleParam' 'page' pageNumber}}></i>
		{{/with}}
	</div>
	{{#if (eq own null)}}
		{{model.cards.meta.record-count}} cartes différentes
	{{else if (eq own "owned")}}
		{{model.cards.meta.record-count}} cartes possédées
	{{else if (eq own "golden")}}
		{{model.cards.meta.record-count}} cartes dorées possédées
	{{else if (eq own "missing")}}
		{{model.cards.meta.record-count}} cartes manquantes
	{{else if (eq own "wanted")}}
		{{model.cards.meta.record-count}} cartes recherchées
	{{else if (eq own "extra")}}
		{{model.cards.meta.record-count}} cartes surnuméraires
	{{/if}}
</div>
