<div class="format">
	<img src={{concat "/assets/" (if standard "standard" "wild") ".png"}}
		{{action 'toggleFormat'}}
	/>
</div>

<div>
	{{#each model.cardclasses as |cardclass|}}
		<img src={{cardclass.image}} title={{cardclass.name_fr}} alt={{cardclass.name_fr}} width="64px"
			class={{if (and class (not-eq class cardclass.id)) "faded"}}
			{{action 'toggleParam' 'class' cardclass.id}}
		/>
	{{/each}}
</div>

<div>
	{{#each (array '0' '1' '2' '3' '4' '5' '6' '7' '8' '9' '10') as |mana|}}
		<img src={{concat "/assets/mana_" mana ".png"}} alt={{mana}}
			class={{if (and cost (not-eq cost mana)) "faded"}}
			{{action 'toggleParam' 'cost' mana}}
		/>
	{{/each}}
</div>

<div>
	{{#each model.cardsets as |set|}}
		{{#if (or (not standard) set.standard)}}
			<img src={{set.image}} title={{set.name_fr}} alt={{set.name_fr}} height="50px"
				class={{if (and cardset (not-eq cardset set.id)) "faded"}}
				{{action 'toggleParam' 'cardset' set.id}}
			/>
		{{/if}}
	{{/each}}
</div>

<hr>

{{#each model.cards as |card|}}
	<div class="card" style="float:left">
		{{#with (filter (action "filterOwned") card.collections) as |collection|}}
			<div class="number" {{action 'removeFromCollection' card}}>
				{{collection.firstObject.number}}
			</div>
			<div class="image">
				<img src={{card.image}}
					{{action 'addToCollection' card}}
				/>
			</div>
		{{else}}
			<div class="number"/>
			<div class="image">
				<img src={{card.image}}
					class="faded"
					{{action 'addToCollection' card}}
				/>
			</div>
		{{/with}}
	</div>
{{/each}}
