<h4>
	{{model.deck.deckgroup.name}}
	({{model.deck.deckgroup.cardset.name_fr}})
</h4>

<h3>
	{{model.deck.cardclass.name_fr}}
	{{model.deck.name}}
	{{#if model.deck.url}}
		<a href={{model.deck.url}} target="_blank">
			<i class="fas fa-external-link-alt"></i>
		</a>
	{{/if}}
</h3>

<br/>

<table class="decks">
	<tr>
		<th class="noborder"></th>
		<th>Coût</th>
		<th>Attaque</th>
		<th>Défense</th>
	</tr>
	{{#each model.deck.sortedDeckcards as |deckcard|}}
		{{#with deckcard.card as |card|}}
			{{#with (filter (action "filterOwned") card.collections) as |collections|}}
				<tr>
					<td class={{if (gte collections.firstObject.number deckcard.number) 'owned' (concat 'cardset-' card.cardset.class)}}>
						<div class="deckcard">
							{{min collections.firstObject.number deckcard.number}}/{{deckcard.number}}
							<span class={{concat 'rarity-' card.rarity.name_fr (if (lt card.cardclass.id 12) ' cardclass')}}>{{card.name_fr}}</span>
							<div class="cardinfo">
								<img src={{card.image}} />
								<div class="cardset">{{card.cardset.name_fr}}</div>
							</div>
						</div>
					</td>
					<td class="stat">{{card.cost}}</td>
					<td class="stat">{{card.atk}}</td>
					<td class="stat">{{card.health}}</td>
				</tr>
			{{else}}
				<tr>
					<td class={{concat 'cardset-' card.cardset.class}}>
						<div class="deckcard">
							0/{{deckcard.number}}
							<span class={{concat 'rarity-' card.rarity.name_fr (if (lt card.cardclass.id 12) ' cardclass')}}>{{card.name_fr}}</span>
							<div class="cardinfo">
								<img src={{card.image}} />
								<div class="cardset">{{card.cardset.name_fr}}</div>
							</div>
						</div>
					</td>
					<td class="stat">{{card.cost}}</td>
					<td class="stat">{{card.atk}}</td>
					<td class="stat">{{card.health}}</td>
				</tr>
			{{/with}}
		{{/with}}
	{{/each}}
</table>

<br/>

<h3>Légende</h3>
<table>
	<tr class="decks">
		<td class='rarity-Commune'>Commune</td>
		<td class='rarity-Rare'>Rare</td>
		<td class='rarity-Epique'>Epique</td>
		<td class='rarity-Légendaire'>Légendaire</td>
	</tr>
</table>
<table>
	<tr class="decks">
		<td class='cardclass'>Carte de classe</td>
		<td>Carte neutre</td>
	</tr>
</table>
<table>
	<tr class="decks">
		<td class='owned'>Possédée</td>
		<td class='cardset-Classique'>A obtenir du set Classique</td>
		<td class='cardset-current'>A obtenir de l'extension courante</td>
		<td class='cardset-year'>A obtenir d'une extension de l'année en cours</td>
		<td>A obtenir d'une extension des années précédentes</td>
	</tr>
</table>
