Importer un deck

<hr/>

{{textarea value=importString}}
<button {{action "import"}}>Importer</button>

<br/>

{{#if showDeck}}
	Héros : {{deck.cardclass.name_fr}}
	<ul>
		{{#each deck.deckcards as |deckcard|}}
			<li>{{deckcard.card.name_fr}} x{{deckcard.number}}</li>
		{{/each}}
	</ul>

	{{#if deck.deckcards.isFulfilled}}
		{{#with (filter (action "filterDeckstring") model.decks) as |sameDecks|}}
			<p style="color: darkred;">
				Attention ! Ce deck est identique aux decks
				<ul>
				{{#each sameDecks as |sameDeck|}}
					{{log "sameDeck" sameDeck sameDeck.cardclass sameDeck.name sameDeck.deckgroup sameDeck.user}}
					<li>{{sameDeck.cardclass.name_fr}} {{sameDeck.name}}
					{{#if sameDeck.deckgroup}}
						du groupe {{sameDeck.deckgroup.name}}
					{{/if}}
					{{#if sameDeck.user}}
						de l'utilisateur {{sameDeck.user.name}}
					{{/if}}</li>
				{{/each}}
				</ul>
			</p>
		{{/with}}
	{{/if}}

	Nom : {{input value=deck.name}}
	<br/>
	URL : {{input value=deck.url}}
	<br/>
	Commentaire : {{textarea value=deck.comment cols=80 rows=6}}
	<br/><br/>

	Utilisateur : <select onchange={{action "setUser" value="target.value"}}>
		<option value=-1></option>
		<option value={{model.user.id}}>{{model.user.name}}</option>
	</select>
	<br/><br/>

	ou groupe de decks : <select onchange={{action "setDeckgroup" value="target.value"}}>
		<option value=-1></option>
		{{#each model.deckgroups as |deckgroup|}}
			<option value={{deckgroup.id}}>{{deckgroup.name}} ({{deckgroup.cardset.name_fr}})</option>
		{{/each}}
	</select>
	<br/><br/>

	ou créer un groupe de decks : {{input value=deckgroup.name}}
	<br/>
	URL : {{input value=deckgroup.url}}
	<br/>
	Extension : <select onchange={{action "setCardset" value="target.value"}}>
		<option value=-1></option>
		{{#each model.cardsets as |cardset|}}
			<option value={{cardset.id}}>{{cardset.name_fr}}</option>
		{{/each}}
	</select>
	<br/><br/>

	<button {{action "save"}}>Enregistrer</button>

	<hr/>
{{/if}}
