<h3>Recherchées</h3>

<table>
	<tr>
		<th class="noborder" colspan={{if standard 3 9}}></th>
		{{#each model.years as |year|}}
			<th colspan={{year.size}}>{{year.name_fr}}</th>
		{{/each}}
	</tr>

	<tr>
		<th class="format">
			<img src={{concat "/assets/" (if standard "standard" "wild") ".png"}} class="pointer" {{action 'toggleFormat'}} />
		</th>
		{{#each model.cardsets as |set|}}
			{{#if (or (not standard) set.standard)}}
				<th>
					<img src={{set.image}} title={{set.name_fr}} alt={{set.name_fr}} height="50px"/>
				</th>
			{{/if}}
		{{/each}}
		<th>TOTAL</th>
	</tr>

	{{#each ordered_rarities as |rarity|}}
		<tr>
			<th>{{rarity.name_fr}}</th>
			{{#each model.cardsets as |set|}}
				{{#if (or (not standard) set.standard)}}
					{{#if (get (get (get (get completion.cardsets set.id) "rarities") rarity.id) "total")}}
						<td class="stat">
							{{#link-to 'user.collection' (query-params cardset=set.id rarity=rarity.id own='wanted')}}
								{{get (get (get (get completion.cardsets set.id) "rarities") rarity.id) "wanted"}}
							{{/link-to}}
						</td>
					{{else}}
						<td></td>
					{{/if}}
				{{/if}}
			{{/each}}
			<th class="stat">
				{{#link-to 'user.collection' (query-params rarity=rarity.id own='wanted')}}
					{{get (get completion.rarities rarity.id) "wanted"}}
				{{/link-to}}
			</th>
		</tr>
	{{/each}}

	<tr>
		<th>TOTAL</th>
		{{#each model.cardsets as |set|}}
			{{#if (or (not standard) set.standard)}}
				<th class="stat">
					{{#link-to 'user.collection' (query-params cardset=set.id own='wanted')}}
						{{get (get completion.cardsets set.id) "wanted"}}
					{{/link-to}}
				</th>
			{{/if}}
		{{/each}}
		<th class="stat">
			{{#link-to 'user.collection' (query-params own='wanted')}}
				{{completion.wanted}}
			{{/link-to}}
		</th>
	</tr>

	<tr>
		<th>Paquet utile</th>
		{{#each model.cardsets as |set|}}
			{{#if (or (not standard) (and set.standard (not-eq set.name_fr "Basique")))}}
				<td class="percent">
					<div class="less">
						{{#with (mult 100 (get (get (get completion.cardsets set.id) "getwantedsum") 1)) as |rate|}}
							{{round rate decimals=(if (lt rate 10) 1 0)}}&nbsp;%
						{{/with}}
						<div class="more">
							<table>
								<tr>
									<th></th>
									<th>Exactement</th>
									<th>Au moins</th>
								</tr>
								{{#each (w "0 1 2 3 4 5") as |getwanted|}}
									<tr>
										<th>{{getwanted}} cartes recherchées dans un paquet</th>
										<td class="percent">
											{{#with (mult 100 (get (get (get completion.cardsets set.id) "getwanted") getwanted)) as |rate|}}
												{{round rate decimals=(if (lt rate 10) 1 0)}}&nbsp;%
											{{/with}}
										</td>
										<td class="percent">
											{{#with (mult 100 (get (get (get completion.cardsets set.id) "getwantedsum") getwanted)) as |rate|}}
												{{round rate decimals=(if (lt rate 10) 1 0)}}&nbsp;%
											{{/with}}
										</td>
									</tr>
								{{/each}}
							</table>
						</div>
					</div>
				</td>
			{{else if (eq set.name_fr "Basique")}}
				<td class="percent"/>
			{{/if}}
		{{/each}}
	</tr>

	<tr>
		<th>Valeur</th>
		{{#each model.cardsets as |set|}}
			{{#if (or (not standard) (and set.standard (not-eq set.name_fr "Basique")))}}
				<td class="stat">
					{{round (get (get completion.cardsets set.id) "wantedValue")}}
				</td>
			{{else if (eq set.name_fr "Basique")}}
				<td class="stat"/>
			{{/if}}
		{{/each}}
	</tr>
</table>

<h3>Complétion</h3>

<table>
	<tr>
		<th class="noborder" colspan={{if standard 7 25}}></th>
		{{#each model.years as |year|}}
			<th colspan={{mult year.size 3}}>{{year.name_fr}}</th>
		{{/each}}
	</tr>

	<tr>
		<th class="format">
			<img src={{concat "/assets/" (if standard "standard" "wild") ".png"}} class="pointer" {{action 'toggleFormat'}} />
		</th>
		{{#each model.cardsets as |set|}}
			{{#if (or (not standard) set.standard)}}
				<th colspan="3">
					<img src={{set.image}} title={{set.name_fr}} alt={{set.name_fr}} height="50px"/>
				</th>
			{{/if}}
		{{/each}}
		<th colspan="3">TOTAL</th>
		<th>%</th>
	</tr>

	{{#each ordered_rarities as |rarity|}}
		<tr>
			<th>{{rarity.name_fr}}</th>
			{{#each model.cardsets as |set|}}
				{{#if (or (not standard) set.standard)}}
					{{#if (get (get (get (get completion.cardsets set.id) "rarities") rarity.id) "total")}}
						<td class="stat1">
							{{#link-to 'user.collection' (query-params cardset=set.id rarity=rarity.id own='missing')}}
								{{get (get (get (get completion.cardsets set.id) "rarities") rarity.id) "owned"}}
							{{/link-to}}
						</td>
						<td class="stat2">/</td>
						<td class="stat3">
							<span title="{{round (mult 100 (get (get (get (get completion.cardsets set.id) "rarities") rarity.id) "rate"))}}&nbsp;%">
								{{get (get (get (get completion.cardsets set.id) "rarities") rarity.id) "total"}}
							</span>
						</td>
					{{else}}
						<td colspan="3"></td>
					{{/if}}
				{{/if}}
			{{/each}}
			<th class="stat1">
				{{#link-to 'user.collection' (query-params rarity=rarity.id own='missing')}}
					{{get (get completion.rarities rarity.id) "owned"}}
				{{/link-to}}
			</th>
			<th class="stat2">/</th>
			<th class="stat3">{{get (get completion.rarities rarity.id) "total"}}</th>
			<th class="percent">
				{{round (get (get completion.rarities rarity.id) "rate")}}&nbsp;%
			</th>
		</tr>
	{{/each}}

	<tr>
		<th>TOTAL</th>
		{{#each model.cardsets as |set|}}
			{{#if (or (not standard) set.standard)}}
				<th class="stat1">
					{{#link-to 'user.collection' (query-params cardset=set.id own='missing')}}
						{{get (get completion.cardsets set.id) "owned"}}
					{{/link-to}}
				</th>
				<th class="stat2">/</th>
				<th class="stat3">{{get (get completion.cardsets set.id) "total"}}</th>
			{{/if}}
		{{/each}}
		<th class="stat1">
			{{#link-to 'user.collection' (query-params own='missing')}}
				{{completion.owned}}
			{{/link-to}}
		</th>
		<th class="stat2">/</th>
		<th class="stat4">{{completion.total}}</th>
	</tr>

	<tr>
		<th>%</th>
		{{#each model.cardsets as |set|}}
			{{#if (or (not standard) set.standard)}}
				<th colspan="3" class="percent">
					{{round (mult 100 (get (get completion.cardsets set.id) "rate"))}}&nbsp;%
				</th>
			{{/if}}
		{{/each}}
		<th colspan="3" class="percent">
			{{round (mult 100 completion.rate)}}&nbsp;%
		</th>
	</tr>

	<tr>
		<th>Paquet utile</th>
		{{#each model.cardsets as |set|}}
			{{#if (or (not standard) (and set.standard (not-eq set.name_fr "Basique")))}}
				<td colspan="3" class="percent">
					<div class="less">
						{{#with (mult 100 (get (get (get completion.cardsets set.id) "getnewsum") 1)) as |rate|}}
							{{round rate decimals=(if (lt rate 10) 1 0)}}&nbsp;%
						{{/with}}
						<div class="more">
							<table>
								<tr>
									<th></th>
									<th>Exactement</th>
									<th>Au moins</th>
								</tr>
								{{#each (w "0 1 2 3 4 5") as |getnew|}}
									<tr>
										<th>{{getnew}} nouvelles cartes dans un paquet</th>
										<td class="percent">
											{{#with (mult 100 (get (get (get completion.cardsets set.id) "getnew") getnew)) as |rate|}}
												{{round rate decimals=(if (lt rate 10) 1 0)}}&nbsp;%
											{{/with}}
										</td>
										<td class="percent">
											{{#with (mult 100 (get (get (get completion.cardsets set.id) "getnewsum") getnew)) as |rate|}}
												{{round rate decimals=(if (lt rate 10) 1 0)}}&nbsp;%
											{{/with}}
										</td>
									</tr>
								{{/each}}
							</table>
						</div>
					</div>
				</td>
			{{else if (eq set.name_fr "Basique")}}
				<td colspan="3" class="percent"/>
			{{/if}}
		{{/each}}
	</tr>

	<tr>
		<th>Valeur</th>
		{{#each model.cardsets as |set|}}
			{{#if (or (not standard) (and set.standard (not-eq set.name_fr "Basique")))}}
				<td colspan="3" class="stat">
					{{round (get (get completion.cardsets set.id) "completionValue")}}
				</td>
			{{else if (eq set.name_fr "Basique")}}
				<td colspan="3" class="stat"/>
			{{/if}}
		{{/each}}
	</tr>

	{{#if model.pitycounters.length}}
		<tr>
			<th>Pity</th>
			{{#each model.cardsets as |set|}}
				{{#if (or (not standard) (and set.standard (not-eq set.name_fr "Basique")))}}
					<td colspan="3" class="stat">
						{{#each (filter (action "filterPityBySet" set) model.pitycounters) as |pitycounter|}}
							<div>{{pitycounter.rarity.name_fr}} : {{pitycounter.number}}</div>
						{{/each}}
					</td>
				{{else if (eq set.name_fr "Basique")}}
					<td colspan="3" class="stat"/>
				{{/if}}
			{{/each}}
		</tr>
	{{/if}}
</table>

<br/>

{{#if fullStats}}

<table>
	<tr>
		<th class="format">
			<img src={{concat "/assets/" (if standard "standard" "wild") ".png"}} class="pointer" {{action 'toggleFormat'}} />
		</th>
		{{#each model.cardclasses as |cardclass|}}
			<th colspan="3">
				<img src={{cardclass.image}} title={{cardclass.name_fr}} alt={{cardclass.name_fr}} height="50px"/>
			</th>
		{{/each}}
		<th colspan="3">TOTAL</th>
		<th>%</th>
	</tr>

	{{#each ordered_rarities as |rarity|}}
		<tr>
			<th>{{rarity.name_fr}}</th>
			{{#each model.cardclasses as |cardclass|}}
				<td class="stat1">
					{{#link-to 'user.collection' (query-params class=cardclass.id rarity=rarity.id own='missing')}}
						{{get (get (get (get completion.cardclasses cardclass.id) "rarities") rarity.id) "owned"}}
					{{/link-to}}
				</td>
				<td class="stat2">/</td>
				<td class="stat3">
					<span title="{{round (get (get (get (get completion.cardclasses cardclass.id) "rarities") rarity.id) "rate")}}&nbsp;%">
						{{get (get (get (get completion.cardclasses cardclass.id) "rarities") rarity.id) "total"}}
					</span>
				</td>
			{{/each}}
			<th class="stat1">
				{{#link-to 'user.collection' (query-params rarity=rarity.id own='missing')}}
					{{get (get completion.rarities rarity.id) "owned"}}
				{{/link-to}}
			</th>
			<th class="stat2">/</th>
			<th class="stat3">{{get (get completion.rarities rarity.id) "total"}}</th>
			<th class="percent">
				{{round (get (get completion.rarities rarity.id) "rate")}}&nbsp;%
			</th>
		</tr>
	{{/each}}

	<tr>
		<th>TOTAL</th>
		{{#each model.cardclasses as |cardclass|}}
			<th class="stat1">
				{{#link-to 'user.collection' (query-params class=cardclass.id own='missing')}}
					{{get (get completion.cardclasses cardclass.id) "owned"}}
				{{/link-to}}
			</th>
			<th class="stat2">/</th>
			<th class="stat3">{{get (get completion.cardclasses cardclass.id) "total"}}</th>
		{{/each}}
		<th class="stat1">
			{{#link-to 'user.collection' (query-params own='missing')}}
				{{completion.owned}}
			{{/link-to}}
		</th>
		<th class="stat2">/</th>
		<th class="stat4">{{completion.total}}</th>
	</tr>

	<tr>
		<th>%</th>
		{{#each model.cardclasses as |cardclass|}}
			<th colspan="3" class="percent">
				{{round (get (get completion.cardclasses cardclass.id) "rate")}}&nbsp;%
			</th>
		{{/each}}
		<th colspan="3" class="percent">
			{{round (mult 100 completion.rate)}}&nbsp;%
		</th>
	</tr>
</table>

<h3>Diversité</h3>

<table>
	<tr>
		<th class="noborder" colspan={{if standard 7 25}}></th>
		{{#each model.years as |year|}}
			<th colspan={{mult year.size 3}}>{{year.name_fr}}</th>
		{{/each}}
	</tr>

	<tr>
		<th class="format">
			<img src={{concat "/assets/" (if standard "standard" "wild") ".png"}} class="pointer" {{action 'toggleFormat'}} />
		</th>
		{{#each model.cardsets as |set|}}
			{{#if (or (not standard) set.standard)}}
				<th colspan="3">
					<img src={{set.image}} title={{set.name_fr}} alt={{set.name_fr}} height="50px"/>
				</th>
			{{/if}}
		{{/each}}
		<th colspan="3">TOTAL</th>
		<th>%</th>
	</tr>

	{{#each ordered_rarities as |rarity|}}
		<tr>
			<th>{{rarity.name_fr}}</th>
			{{#each model.cardsets as |set|}}
				{{#if (or (not standard) set.standard)}}
					{{#if (get (get (get (get total.cardsets set.id) "rarities") rarity.id) "total")}}
						<td class="stat1">
							{{#link-to 'user.collection' (query-params cardset=set.id rarity=rarity.id own='missing')}}
								{{get (get (get (get total.cardsets set.id) "rarities") rarity.id) "owned"}}
							{{/link-to}}
						</td>
						<td class="stat2">/</td>
						<td class="stat3">
							<span title="{{round (get (get (get (get total.cardsets set.id) "rarities") rarity.id) "rate")}}&nbsp;%">
								{{get (get (get (get total.cardsets set.id) "rarities") rarity.id) "total"}}
							</span>
						</td>
					{{else}}
						<td colspan="3"></td>
					{{/if}}
				{{/if}}
			{{/each}}
			<th class="stat1">
				{{#link-to 'user.collection' (query-params rarity=rarity.id own='missing')}}
					{{get (get total.rarities rarity.id) "owned"}}
				{{/link-to}}
			</th>
			<th class="stat2">/</th>
			<th class="stat3">{{get (get total.rarities rarity.id) "total"}}</th>
			<th class="percent">
				{{round (get (get total.rarities rarity.id) "rate")}}&nbsp;%
			</th>
		</tr>
	{{/each}}

	<tr>
		<th>TOTAL</th>
		{{#each model.cardsets as |set|}}
			{{#if (or (not standard) set.standard)}}
				<th class="stat1">
					{{#link-to 'user.collection' (query-params cardset=set.id own='missing')}}
						{{get (get total.cardsets set.id) "owned"}}
					{{/link-to}}
				</th>
				<th class="stat2">/</th>
				<th class="stat3">{{get (get total.cardsets set.id) "total"}}</th>
			{{/if}}
		{{/each}}
		<th class="stat1">
			{{#link-to 'user.collection' own='missing'}}
				{{total.owned}}
			{{/link-to}}
		</th>
		<th class="stat2">/</th>
		<th class="stat4">{{total.total}}</th>
	</tr>

	<tr>
		<th>%</th>
		{{#each model.cardsets as |set|}}
			{{#if (or (not standard) set.standard)}}
				<th colspan="3" class="percent">
					{{round (get (get total.cardsets set.id) "rate")}}&nbsp;%
				</th>
			{{/if}}
		{{/each}}
		<th colspan="3" class="percent">
			{{round total.rate}}&nbsp;%
		</th>
	</tr>
</table>

<br/>

<table>
	<tr>
		<th class="format">
			<img src={{concat "/assets/" (if standard "standard" "wild") ".png"}} class="pointer" {{action 'toggleFormat'}} />
		</th>
		{{#each model.cardclasses as |cardclass|}}
			<th colspan="3">
				<img src={{cardclass.image}} title={{cardclass.name_fr}} alt={{cardclass.name_fr}} height="50px"/>
			</th>
		{{/each}}
		<th colspan="3">TOTAL</th>
		<th>%</th>
	</tr>

	{{#each ordered_rarities as |rarity|}}
		<tr>
			<th>{{rarity.name_fr}}</th>
			{{#each model.cardclasses as |cardclass|}}
				<td class="stat1">
					{{#link-to 'user.collection' (query-params class=cardclass.id rarity=rarity.id own='missing')}}
						{{get (get (get (get total.cardclasses cardclass.id) "rarities") rarity.id) "owned"}}
					{{/link-to}}
				</td>
				<td class="stat2">/</td>
				<td class="stat3">
					<span title="{{round (get (get (get (get total.cardclasses cardclass.id) "rarities") rarity.id) "rate")}}&nbsp;%">
						{{get (get (get (get total.cardclasses cardclass.id) "rarities") rarity.id) "total"}}
					</span>
				</td>
			{{/each}}
			<th class="stat1">
				{{#link-to 'user.collection' (query-params rarity=rarity.id own='missing')}}
					{{get (get total.rarities rarity.id) "owned"}}
				{{/link-to}}
			</th>
			<th class="stat2">/</th>
			<th class="stat3">{{get (get total.rarities rarity.id) "total"}}</th>
			<th class="percent">
				{{round (get (get total.rarities rarity.id) "rate")}}&nbsp;%
			</th>
		</tr>
	{{/each}}

	<tr>
		<th>TOTAL</th>
		{{#each model.cardclasses as |cardclass|}}
			<th class="stat1">
				{{#link-to 'user.collection' (query-params class=cardclass.id own='missing')}}
					{{get (get total.cardclasses cardclass.id) "owned"}}
				{{/link-to}}
			</th>
			<th class="stat2">/</th>
			<th class="stat3">{{get (get total.cardclasses cardclass.id) "total"}}</th>
		{{/each}}
		<th class="stat1">
			{{#link-to 'user.collection' (query-params own='missing')}}
				{{total.owned}}
			{{/link-to}}
		</th>
		<th class="stat2">/</th>
		<th class="stat4">{{total.total}}</th>
	</tr>

	<tr>
		<th>%</th>
		{{#each model.cardclasses as |cardclass|}}
			<th colspan="3" class="percent">
				{{round (get (get total.cardclasses cardclass.id) "rate")}}&nbsp;%
			</th>
		{{/each}}
		<th colspan="3" class="percent">
			{{round total.rate}}&nbsp;%
		</th>
	</tr>
</table>

<h3>Surnuméraires</h3>

<div class="statextra">
	<p>En collectionnant les dorées</p>
	<table>
		<tr>
			<th class="noborder"></th>
			<th>Normales</th>
			<th>Dorées</th>
			<th class="dust">Poussière</th>
		</tr>

		{{#each ordered_rarities as |rarity|}}
			{{#if (not-eq rarity.name_fr "Gratuite")}}
				<tr>
					<th>{{rarity.name_fr}}</th>
					<td class="stat">
						{{#link-to 'user.collection' (query-params rarity=rarity.id own='extra')}}
							{{get model.stat.extrahs.normal.rarities rarity.id}}
						{{/link-to}}
					</td>
					<td class="stat">
						{{#link-to 'user.collection' (query-params rarity=rarity.id own='extra')}}
							{{get model.stat.extrahs.golden.rarities rarity.id}}
						{{/link-to}}
					</td>
					<td class="stat dust">
						{{add (mult (get model.stat.extrahs.normal.rarities rarity.id) rarity.destructionDust) (mult (get model.stat.extrahs.golden.rarities rarity.id) rarity.destructionDustGolden)}}
					</td>
				</tr>
			{{/if}}
		{{/each}}

		<tr>
			<th>TOTAL</th>
			<th class="stat">
				{{#link-to 'user.collection' (query-params own='extra')}}
					{{model.stat.extrahs.normal.total}}
				{{/link-to}}
			</th>
			<th class="stat">
				{{#link-to 'user.collection' (query-params own='extra')}}
					{{model.stat.extrahs.golden.total}}
				{{/link-to}}
			</th>
			<th class="stat dust">{{add (reduce (action "sumDust" false) 0 model.stat.extrahs.normal.rarities) (reduce (action "sumDust" true) 0 model.stat.extrahs.golden.rarities)}}</th>
		</tr>
	</table>
</div>

<div class="statextra">
	<p>En désenchantant les dorées</p>
	<table>
		<tr>
			<th class="noborder"></th>
			<th>Normales</th>
			<th>Dorées</th>
			<th class="dust">Poussière</th>
		</tr>

		{{#each ordered_rarities as |rarity|}}
			{{#if (not-eq rarity.name_fr "Gratuite")}}
				<tr>
					<th>{{rarity.name_fr}}</th>
					<td class="stat">
						{{#link-to 'user.collection' (query-params rarity=rarity.id own='extra')}}
							{{get model.stat.extra.normal.rarities rarity.id}}
						{{/link-to}}
					</td>
					<td class="stat">
						{{#link-to 'user.collection' (query-params rarity=rarity.id own='extra')}}
							{{get model.stat.extra.golden.rarities rarity.id}}
						{{/link-to}}
					</td>
					<td class="stat dust">
						{{add (mult (get model.stat.extra.normal.rarities rarity.id) rarity.destructionDust) (mult (get model.stat.extra.golden.rarities rarity.id) rarity.destructionDustGolden)}}
					</td>
				</tr>
			{{/if}}
		{{/each}}

		<tr>
			<th>TOTAL</th>
			<th class="stat">
				{{#link-to 'user.collection' (query-params own='extra')}}
					{{model.stat.extra.normal.total}}
				{{/link-to}}
			</th>
			<th class="stat">
				{{#link-to 'user.collection' (query-params own='extra')}}
					{{model.stat.extra.golden.total}}
				{{/link-to}}
			</th>
			<th class="stat dust">{{add (reduce (action "sumDust" false) 0 model.stat.extra.normal.rarities) (reduce (action "sumDust" true) 0 model.stat.extra.golden.rarities)}}</th>
		</tr>
	</table>
</div>

{{else}}
	<i class="far fa-plus-square fa-2x" {{action 'showAllStats'}}></i>
{{/if}}
