{{#with model.stat.total as |total|}}
	<table>
		<tr>
			<th class="format">
				<img src={{concat "/assets/" (if standard "standard" "wild") ".png"}}
					{{action 'toggleFormat'}}
				/>
			</th>
			{{#each model.cardsets as |set|}}
				{{#if (or (not standard) set.standard)}}
					<th>
						<img src={{set.image}} title={{set.name_fr}} alt={{set.name_fr}} height="50px"/>
					</th>
				{{/if}}
			{{/each}}
			<th>TOTAL</th>
			<th>%</th>
		</tr>

		{{#each ordered_rarities as |rarity|}}
			<tr>
				<th>{{rarity.name_fr}}</th>
				{{#each model.cardsets as |set|}}
					{{#if (or (not standard) set.standard)}}
						<td>
							{{get (get (get (get total.cardsets set.id) "rarities") rarity.id) "owned"}}
							/
							{{get (get (get (get total.cardsets set.id) "rarities") rarity.id) "total"}}
						</td>
					{{/if}}
				{{/each}}
				<th>
					{{get (get total.rarities rarity.id) "owned"}}
					/
					{{get (get total.rarities rarity.id) "total"}}
				</th>
				<th>
					{{round (mult 100 (div (get (get total.rarities rarity.id) "owned") (get (get total.rarities rarity.id) "total")))}} %
				</th>
			</tr>
		{{/each}}

		<tr>
			<th>TOTAL</th>
			{{#each model.cardsets as |set|}}
				{{#if (or (not standard) set.standard)}}
					<th>
						{{get (get total.cardsets set.id) "owned"}}
						/
						{{get (get total.cardsets set.id) "total"}}
					</th>
				{{/if}}
			{{/each}}
			<th>
				{{total.owned}}
				/
				{{total.total}}
			</th>
		</tr>

		<tr>
			<th>%</th>
			{{#each model.cardsets as |set|}}
				{{#if (or (not standard) set.standard)}}
					<th>
						{{round (mult 100 (div (get (get total.cardsets set.id) "owned") (get (get total.cardsets set.id) "total")))}} %
					</th>
				{{/if}}
			{{/each}}
			<th>
				{{round (mult 100 (div total.owned total.total))}} %
			</th>
		</tr>
	</table>
{{/with}}
