<h3>{{model.arena.cardclass.name_fr}} {{model.arena.archetype}} {{model.arena.score}}</h3>

<h4>Matches</h4>
{{#unless model.arena.done}}
	<table>
		<tr>
			{{#each arenaclasses as |cardclass|}}
				<th class={{concat 'cardclass cardclass-' cardclass.name_fr}}>{{cardclass.name_fr}}</th>
			{{/each}}
		</tr>
		<tr>
			{{#each arenaclasses as |cardclass|}}
				<td>
					<button {{action "win" cardclass}}>Gagné</button>
					<br/>
					<button {{action "lose" cardclass}}>Perdu</button>
				</td>
			{{/each}}
		</tr>
	</table>
{{/unless}}

<table>
	{{#each model.arena.arenamatches as |arenamatch|}}
		<tr>
			<th class={{concat 'cardclass cardclass-' arenamatch.cardclass.name_fr}}>{{arenamatch.cardclass.name_fr}}</th>
			<td>{{if arenamatch.won "Gagné" "Perdu"}}</td>
		</tr>
	{{/each}}
</table>

{{#if model.arena.done}}
	<h4>Récompenses</h4>
	<ul>
		{{#each model.arena.arenarewards as |arenareward|}}
			<li>{{arenareward.text}}</li>
		{{/each}}
	</ul>

	Or : {{input value=gold}} <button {{action "addGold"}}>Ajouter</button>
	<br/>
	Poussière : {{input value=dust}} <button {{action "addDust"}}>Ajouter</button>
	<br/>
	Paquet :
	<select onchange={{action (mut cardset) value="target.value"}}>
		{{#each model.cardsets as |cardset2|}}
			<option value={{cardset2.id}} selected={{eq cardset cardset2.id}}>{{cardset2.name_fr}}</option>
		{{/each}}
	</select>
	<button {{action "addPack"}}>Ajouter</button>
	<br/>
	Carte : TODO
{{/if}}
