<select onchange={{action (mut class) value="target.value"}}>
	{{#each model.cardclasses as |cardclass|}}
		<option value={{cardclass.id}} selected={{eq class cardclass.id}}>{{cardclass.name_fr}}</option>
	{{/each}}
</select>
{{input value=archetype placeholder="Archétype"}}
{{input value=score placeholder="Score"}}
<button {{action "save"}}>Créer</button>

<hr/>

<table>
	<tr>
		<th>Date</th>
		<th>Classe</th>
		<th>Archétype</th>
		<th>Score</th>
		<th>Résultat</th>
	</tr>
	{{#each model.arenas as |arena|}}
		{{#link-to 'user.arenas.arena' arena.id tagName='tr'}}
			<td>{{#link-to 'user.arenas.arena' arena.id}}{{moment-format arena.date 'L'}}{{/link-to}}</td>
			<th class={{concat 'cardclass cardclass-' arena.cardclass.name_fr}}>{{arena.cardclass.name_fr}}</th>
			<td>{{arena.archetype}}</td>
			<td>
				{{arena.score}}
			</td>
			<td>
				{{#each arena.arenamatches as |arenamatch|}}
					<img src={{arenamatch.cardclass.image}} title={{arenamatch.cardclass.name_fr}} alt={{arenamatch.cardclass.name_fr}} width="32px"
						class={{if (not arenamatch.won) "faded" ""}}
					/>
				{{else}}
					{{arena.win}}
					{{#unless arena.done}}
						(en cours)
					{{/unless}}
				{{/each}}
			</td>
		{{/link-to}}
	{{/each}}
</table>
