Importer un deck

<hr/>

{{input value=importString}}
<button {{action "import"}}>Importer</button>

<br/>

{{#if showDeck}}
	Héros : {{deck.cardclass.name_fr}}
	<ul>
		{{#each deck.deckcards as |deckcard|}}
			<li>{{deckcard.card.name_fr}} x{{deckcard.number}}</li>
		{{/each}}
	</ul>

	Nom : {{input value=deck.name}}
	<br/>
	URL : {{input value=deck.url}}
	<br/><br/>

	Groupe : <select onchange={{action "setDeckgroup" value="target.value"}}>
		{{#each model.deckgroups as |deckgroup|}}
			<option value={{deckgroup.id}}>{{deckgroup.name}} ({{deckgroup.cardset.name_fr}})</option>
		{{/each}}
	</select>
	<br/><br/>

	ou créer un groupe : {{input value=deckgroup.name}}
	<br/>
	URL : {{input value=deckgroup.url}}
	<br/>
	Extension : <select onchange={{action "setCardset" value="target.value"}}>
		{{#each model.cardsets as |cardset|}}
			<option value={{cardset.id}}>{{cardset.name_fr}}</option>
		{{/each}}
	</select>
	<br/><br/>

	<button {{action "save"}}>Enregistrer</button>

	<hr/>
{{/if}}
