{{input value=importString}}
<button {{action "import"}}>Importer</button>

<hr/>

{{#if showDeck}}
	Héros : {{deck.cardclass.name_fr}}
	<ul>
		{{#each deck.deckcards as |deckcard|}}
			<li>{{deckcard.card.name_fr}} x{{deckcard.number}}</li>
		{{/each}}
	</ul>

	Nom : {{input value=deck.name}}
	<br/>
	URL : {{input value=deck.url}}
	<br/>
	<button {{action "save"}}>Enregistrer</button>

	<hr/>
{{/if}}

<ul>
{{#each model as |deck|}}
	<li>
		{{deck.cardclass.name_fr}}
		{{#link-to 'deck' deck.id}}
			{{deck.name}}
		{{/link-to}}
		{{deck.url}}
	</li>
{{/each}}
</ul>
